<h1>Listing stores</h1>

<% unless current_user.nil? %>
    <%= link_to 'New store', new_store_info_path %><BR><BR>
<% end %>


<table>
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>City</th>
        <th>District</th>
        <th>ZIP</th>
        <th>Street</th>
        <th>Phone</th>
        <th>Site</th>
        <th>Rate Ref</th>
        <th>Rating</th>
        <th>Photo</th>
    </tr>

    <% @store_info.each do |store_info| %>
        <tr>
            <td><%= store_info.name %></td>
            <td><%= store_info.country %></td>
            <td><%= store_info.city %></td>
            <td><%= store_info.district %></td>
            <td><%= store_info.zip %></td>
            <td><%= store_info.street %></td>
            <td><%= store_info.phone %></td>
            <td><%= store_info.official_site %></td>
            <td><%= store_info.rate_reference %></td>
            <td><%= store_info.rating %></td>
            <td><%= store_info.photo %></td>
            <td><%= link_to 'Show', store_info_path(store_info) %></td>
            <% unless current_user.nil? %>
                <td><%= link_to 'Edit', edit_store_info_path(store_info) %></td>
                <td><%= link_to 'Delete', store_info_path(store_info),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
    <% end %>
</table>
