<p>
    <strong>Name:</strong>
    <%= @store_info.name %>
</p>

<p>
    <strong>Country:</strong>
    <%= @store_info.country %>
</p>

<p>
    <strong>city:</strong>
    <%= @store_info.city %>
</p>

<p>
    <strong>District:</strong>
    <%= @store_info.district %>
</p>

<p>
    <strong>ZIP:</strong>
    <%= @store_info.zip %>
</p>

<p>
    <strong>Street:</strong>
    <%= @store_info.street %>
</p>

<p>
    <strong>Phone:</strong>
    <%= @store_info.phone %>
</p>

<p>
    <strong>Site:</strong>
    <%= @store_info.official_site %>
</p>

<p>
    <strong>Rate Reference:</strong>
    <%= @store_info.rate_reference %>
</p>

<p>
    <strong>Photo:</strong>
    <% unless @store_info.photo.nil? %>
      <%= image_tag logo_store_info_path(@store_info) %>
    <% end %>
</p>

<p>
    <strong>Groups:</strong><BR>
    <% @store_info.groups.each do |group| %>
        <%= group.name %><BR>
    <% end %>
</p>


<h2>Tags:</h2>
<%= render "tags/store_info_tag" %>

<h2>Add tags:</h2>
<%= render 'tags/store_info_form' %>


<h2>Ratings:</h2>
<%= render "store_info_ratings/store_info_rating" %>

<% unless @store_info.users.include?(current_user) %>
  <h2>Add Comment:</h2>
  <%= render 'store_info_ratings/form' %>
<% end %>


<% unless current_user.nil? %>
    <%= link_to 'Edit', edit_store_info_path(@store_info) %> |
<% end %>
<%= link_to 'Back', store_infos_path %>
