<p>
    <strong>Name:</strong>
    <%= @store_info.name %>
</p>

<p>
    <strong>Country:</strong>
    <%= @store_info.country %>
</p>

<p>
    <strong>city:</strong>
    <%= @store_info.city %>
</p>

<p>
    <strong>District:</strong>
    <%= @store_info.district %>
</p>

<p>
    <strong>ZIP:</strong>
    <%= @store_info.zip %>
</p>

<p>
    <strong>Street:</strong>
    <%= @store_info.street %>
</p>

<p>
    <strong>Phone:</strong>
    <%= @store_info.phone %>
</p>

<p>
    <strong>Site:</strong>
    <%= @store_info.official_site %>
</p>

<p>
    <strong>Rate Reference:</strong>
    <%= @store_info.rate_reference %>
</p>

<p>
    <strong>Rating:</strong>
    <%= @store_info.rating %>
</p>

<p>
    <strong>Photo:</strong>
    <%= @store_info.photo %>
</p>

<p>
    <strong>Groups:</strong><BR>
    <% @store_info.groups.each do |group| %>
        <%= group.name %><BR>
    <% end %>
</p>

<% unless current_user.nil? %>
    <%= link_to 'Edit', edit_store_info_path(@store_info) %> |
<% end %>
<%= link_to 'Back', store_infos_path %>
