
<h1>Listing Banks</h1>

<% unless current_user.nil? %>
    <%= link_to 'New Bank', new_bank_path %> <BR><RB>
<% end %>

<table>
    <tr>
        <th>Name</th>
        <th>SWIFT Number</th>
    </tr>
    
    <% @bank.each do |bank| %>
        <tr>
            <td><%= bank.name %></td>
            <td><%= bank.swift_number %></td>
            <td><%= link_to 'Show', bank_path(bank) %></td>
            <% unless current_user.nil? %>
                <td><%= link_to 'Edit', edit_bank_path(bank) %></td>
                <td><%= link_to 'Delete', bank_path(bank),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
    <% end %>
</table>
