<%= form_for @group do |f| %>

    <% if @group.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@group.errors.count, "error") %> prohibited
                this group from being saved:
            </h2>
            <ul>
                <% @group.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :photo %><br>
        <%= f.file_field :photo %>
    </p>

    <p>
        <%= f.label :Stores %><br>
        <% @store_infos.each do |store_info| %>
            <% checked = @group.store_infos.include?(store_info) %>
            <%= check_box_tag "store_info_ids[]", store_info.id, checked %>
            <%= label_tag(store_info.id, store_info.name) %>
        <% end %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>