<h1>Listing groups</h1>

<% unless current_user.nil? %>
    <%= link_to 'New group', new_group_path %> <BR><BR>
<% end %>


<table>
    <tr>
        <th>Name</th>
        <th>Photo</th>
    </tr>

    <% @group.each do |group| %>
        <tr>
            <td><%= group.name %></td>
            <td>
                <%= image_tag logo_group_path(group) %>
            </td>
            <td><%= link_to 'Show', group_path(group) %></td>
            <% unless current_user.nil? %>
                <td><%= link_to 'Edit', edit_group_path(group) %></td>
                <td><%= link_to 'Delete', group_path(group),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
    <% end %>
</table>
