
<h1>Listing groups</h1>
<%= link_to 'New group', new_group_path %> 
<table>
    <tr>
        <th>Name</th>
        <th>Photo</th>
    </tr>

    <% @group.each do |group| %>
        <tr>
            <td><%= group.name %></td>
            <td><%= group.photo %></td>
            <td><%= link_to 'Show', group_path(group) %></td>
            <td><%= link_to 'Edit', edit_group_path(group) %></td>
            <td><%= link_to 'Delete', group_path(group),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
