<p>
    <strong>使用者:</strong>
    <%= @user.account %>
</p>
 
<p>
    <strong>E-Mail:</strong>
    <%= @user.email %>
</p>

<p>
    <strong>性別:</strong>
    <%= @user.gender %>
</p>

<p>
    <strong>生日:</strong>
    <%= @user.birthday %>
</p>

<p>
    <strong>居住城市:</strong>
    <%= @user.city %>
</p>

<p>
    <strong>我的皮夾:</strong> <BR>
    <% unless @user.wallets.nil? %>
        <%= render 'wallets/wallet' %>
    <% end %>
</p>
