<h2>User Profile</h2>

<% if current_user.privilege == 4 %>
    <strong> Admin User</strong>
<% elsif current_user.privilege == 2 %>
    <strong> Registered User </strong>
<% else %>
    <strong> Normal User </strong>
<% end %>

<p>
    <strong>使用者:</strong>
    <%= @user.account %>
</p>
 
<p>
    <strong>E-Mail:</strong>
    <%= @user.email %>
</p>

<p>
    <strong>性別:</strong>
    <%= @user.gender %>
</p>

<p>
    <strong>生日:</strong>
    <%= @user.birthday %>
</p>

<p>
    <strong>居住城市:</strong>
    <%= @user.city %>
</p>


<%= link_to '編輯', edit_profile_path %> |
<%= link_to '變更密碼', edit_registration_path(:user) %>
<% if current_user && current_user.privilege >= 1 %>
   | <%= link_to '新增卡片' %>
<% end %>
<% if current_user && current_user.privilege >= 4 %>
   | <%= link_to '管理介面' %>
<% end %>
