<h1>Welcome!</h1>

<%= link_to '連鎖店', groups_path %> <BR>
<%= link_to '店家', store_infos_path %> <BR>
<%= link_to '信用卡機構', agents_path %> <BR>
<%= link_to '信用卡種類', card_types_path %> <BR>
<%= link_to '信用卡等級', card_levels_path %> <BR>
<%= link_to '銀行', banks_path %> <BR>
<%= link_to '信用卡', cards_path %> <BR>

<%= form_tag "/search" do %>
<%= text_field_tag :keyword %>
<%= submit_tag("搜尋") %>
<% end %>

<table>
	<tr>
		<td>餐廳</td>
		<td>住宿</td>
		<td>電影</td>
	</tr>
	<tr>
		<td>交通</td>
		<td>出國</td>
		<td>現金回饋</td>
	</tr>
</table>