<%= form_for @card do |f| %>

    <% if @card.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@card.errors.count, "error") %> prohibited
                this card from being saved:
            </h2>
            <ul>
                <% @card.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :bank %><br>
        <%= f.collection_select :bank_id, Bank.order(:swift_number),:id,:name_with_swift_number, include_blank: true %>
    </p>

    <p>
        <%= f.label :card_type %><br>
        <%= f.collection_select :card_type_id, CardType.order(:name),:id,:name, include_blank: true %>
    </p>

    <p>
        <%= f.label :card_level %><br>
        <%= f.collection_select :card_level_id, CardLevel.order(:agent_id),:id,:name_with_agent, include_blank: true %>
    </p>

    <p>
        <%= f.label :reference %><br>
        <%= f.text_field :reference %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>