<p>
    <strong>Name:</strong>
    <%= @card.name %>
</p>

<p>
    <strong>Bank:</strong>
    <% unless @card.bank.nil? %>
        <%= @card.bank.name %>
    <% end %>
</p>

<p>
    <strong>Type:</strong>
    <% unless @card.card_type.nil? %>
        <%= @card.card_type.name %>
    <% end %>
</p>

<p>
    <strong>Level:</strong>
    <% unless @card.card_level.nil? %>
        <%= @card.card_level.name_with_agent %>
    <% end %>
</p>

<p>
    <strong>Reference:</strong>
    <%= @card.reference %>
</p>


<h2>Tags:</h2>
<%= render "tags/card_tag" %>

<h2>Add tags:</h2>
<%= render 'tags/card_form' %>


<h2>Ratings:</h2>
<%= render "card_ratings/card_rating" %>

<% unless @card.rating_users.include?(current_user) %>
  <h2>Add Comment:</h2>
  <%= render 'card_ratings/form' %>
<% end %>

<% unless current_user.nil? %>
    <%= link_to 'Edit', edit_card_path(@card) %> |
<% end %>
<%= link_to 'Back', cards_path %>