<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= link_to('信用卡好康', root_path) %> | 
<% if current_user %>
<%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
<%= link_to('Profile', show_profile_path) %> |
<%= link_to '新增店家', new_store_info_path %> | 
<%= link_to '新增優惠' %>
<% if current_user && current_user.privilege >= 4 %>
| <%= link_to '管理介面', admin_list_users_path %>
<% end %>

<% else %>
<%= link_to('註冊', new_registration_path(:user)) %> |
<%= link_to('登入', new_session_path(:user)) %>
<% end %>